*{
    background-color:#292b2e;
}
body{font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
td> img{
    width: 40px;
    height: 40px;
}
.Name{
    font-size: 60px;
    margin-top: -170px;
    margin-left: 95px;
}
.skill{
    font-size: 30px;
    color: #28a745;
    margin-top: -50px;
    margin-left: 170px;
}
.about_me{
    font-size: 50px;
    margin-left: 600px;
    margin-top: -820px;
}
.details{
    margin-top: -30px;
    font-style: italic;
    color: #28a745;
    margin-left: 500px;
}
.about_me_details{
    margin-left: 500px;
    margin-right: 80px;
}
hr{
    margin-bottom: 20px;
    margin-top: 50px;
    border-color: #6c757d;
    margin-left: 500px;
    margin-right: 50px;
}
h1,h2,h3{
    color: #ffffff;
}
table{
    margin-left: 600px;
}
.deve_details{
    width: 300px;
    padding-right: 100px;
    padding-bottom: 30px;
}
.seo_details{
    width: 300px;
    padding-bottom: 30px;
}
.database_details{
    width: 300px;
    padding-right: 100px;
}
.data_security_details{
    width: 300px;}
div>img{width: 420px;
    height: 1300px;

    }